body, html
{
    margin: 0;
    font-family: verdana, serif;
    font-size: 12px;
    background-color: #0F0F0F;
}

a
{
    outline: none;
    border: 0;
    color: #606060 !important;
    text-decoration: none !important;
}

a:-webkit-any-link 
{
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
}

a:hover
{
    color: #b36f1d !important;
    text-shadow: 0 0 1px #b36f1d;
}

p
{
    text-align: center;
    color: #c1b575;
}

span
{
    color: #c1b575;
}

.container, .db-input-container
{
    text-align: center;
    display: block;
    position: absolute;
    margin: auto;
    width: 100%;
    top: 25%;
}

#error
{
    color: red !important;
    margin-bottom: 1em;
}

.welcome-msg
{
    overflow: auto;
    color: #996019;
    text-shadow: 2px 2px #000000;
    border-box: none;
    text-align: center;
}

#login-form, #register-form
{
    text-align: center;
}

#login-form div span, #result-filter-wrapper form div span
{
    color: #606060;
    text-shadow: 1px 1px #000000;
}

#btn-logout, #btn-back
{
    display: block;
    margin: 0.5em auto auto 0.5em;
}

input
{
    border: none;
    background-color: rgb(250, 255, 189);
    width: 175px;
    height: 29px;
    color: #000000;
    font-size: 14px;
    padding-left: 5px;
    padding-top: 4px;
    outline: none;
    text-align: center;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;
}

button, #upvote, #downvote, #delete
{
    background: #1c1c1c;
    background: -moz-linear-gradient(top, #1c1c1c 0%, #1a1a1a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1c1c1c), color-stop(100%,#1a1a1a));
    background: -webkit-linear-gradient(top, #1c1c1c 0%,#1a1a1a 100%);
    background: -o-linear-gradient(top, #1c1c1c 0%,#1a1a1a 100%);
    background: -ms-linear-gradient(top, #1c1c1c 0%,#1a1a1a 100%);
    background: linear-gradient(to bottom, #1c1c1c 0%,#1a1a1a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c1c1c', endColorstr='#1a1a1a',GradientType=0 );
    text-shadow: 2px 2px 2px #202020;
    color: #999;
    font-size: 14px;
    width: 175px;
    height: 42px;
    border-radius: 4px;
    line-height: 42px;
    text-align: center;
    cursor: pointer;
    border: none;
    outline: none;
}

button:hover
{
    background: linear-gradient(to bottom, #262626 0%,#1a1a1a 100%);
}

button:disabled, input:disabled
{

}

#response-container
{
    height: 100%;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 500px;
}

table
{
    box-shadow: 0 0 15px black;
    width: 100%;
}

table, th, td
{
    border: 1px solid #31170a;
    border-collapse: collapse;
}

th, td 
{
    padding: 5px;
    text-align: right;
}

tr:nth-child(even) 
{
    background-color: #0e0e0e;
}

tr:nth-child(odd) 
{
   background-color:#0f0f0f;
}

th    
{
    background-color: #31170a;
    color: #778536;
}

tr
{
    color: #c1b575;
}

ul
{
    margin: 0;
}

ul li
{
    margin: auto 1em auto 1em;
    display: inline-block;
    list-style: none;
}

ul li a
{
    display: block;
    line-height: 2em;
    overflow: auto;
    color: #996019 !important;
    text-shadow: 2px 2px #000000;
    font-size: 15px;
}

.input-form, .update-form, .delete-form
{
    border: 1px solid #1e1e1e;
    box-shadow: 1px 1px 55px black;
    position: relative;
    width: 100%;
    margin: auto;
    max-width: 240px;
}

.input-form
{
    height: 530px;
}

.update-form
{
    height: 603px;
}

.delete-form
{
    height: 155px;
}

.input-form input, .update-form input, .delete-form input
{
    width: 175px;
    margin-bottom: 1%;
}

.input-form button, .update-form button, .delete-form button
{
    margin-top: 8%;
    width: 210px;
}

.update-form-container #load input
{
    max-width: 115px;
}

#preview h3
{
    margin: 0;
    color: #996019 !important;
}

#preview p
{
    margin-top: 0;
}

#top-bar
{
    z-index: 100;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    height: 30px;
    background: #2c1405;
    background: -webkit-linear-gradient(left, #1f0e03, #2c1405, #1f0e03);
    background: -o-linear-gradient(left, #1f0e03, #2c1405, #1f0e03);
    background: -moz-linear-gradient(left, #1f0e03, #2c1405, #1f0e03);
    background: linear-gradient(to right, #1f0e03, #2c1405, #1f0e03);
    box-shadow: 0 0 11px 1px #090909;
}

#logout-wrapper
{
    float: right;
    position: relative;
    right: 2em;
    top: 0.4em;
}

#logout-wrapper form button
{
    background: transparent !important;
    width: 76px;
    height: 20px;
    color: #606060;
    line-height: normal;
    text-shadow: 2px 2px #000000;
}

#logout-wrapper form button:hover
{
    color: #b36f1d;
}

#btn-upload-span
{
    display: block;
    height: 29px;
    line-height: 29px;
    color: #996019;
    text-shadow: 2px 2px #000000;
    border-box: none;
    font-size: 15px;
    width: 160px;
    margin: auto;
    cursor: pointer;
}

#btn-upload-span:hover
{
    color: #b87726;
}

#btn-upload
{
    display: none;
    margin: auto;
}

input[type=file]
{
    visibility: hidden;
    position: absolute;
    display: none;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button
{
    -webkit-appearance: none;
    margin: 0;
}

#result-filter-wrapper
{
    position: fixed;
}

#file-upload-wrapper
{
    max-width: 175px;
    margin: auto;
}

#resultcount-group, #result-filter-wrapper form button
{
    display: inline-block;
}

#resultcount-group
{
    padding-left: 1em;
    top: -0.2em;
    position: relative;
}

#result-filter-wrapper form button
{
    width: 50px;
    max-height: 25px;
    line-height: 0;
    margin: 0;
    top: -0.2em;
    position: relative;
}

#result-filter-wrapper form input
{
    background: none;
    color: #7e8d09;
    width: 1.5em;
}

#back-wrapper a
{
    font-size: 14px;
    top: 0.4em;
    line-height: normal;
    text-shadow: 2px 2px #000000;
    position: fixed;
    left: 2em;
}

#back-wrapper a:hover
{
    color: #727272;
}

#image-post
{
    width: 640px;
    height: 500px;
    position: relative;
    margin: auto;
    top: 25%;
}

#image-container
{
    width: 100%;
    height: 360px;
}

#image-info
{
    width: 100%;
    height: 45px;
    background: #090909;
    border: 1px solid #1e1e1e;
}

#bottom-container
{
    width: 100%;
    height: 50px;
    background: #090909;
    border: 1px solid #1e1e1e;
}

#bottom-container *
{
    display: inline-block;
}

#fullsize-image-container
{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#image-title
{
    font-size: 20px;
    width: 100%;
    margin: auto;
    text-align: center;
}

#image-poster
{
    float: right;
    margin-right: 1em;
}

#image-username
{
    color: #7e8d09;
}

#bottom-container form
{
    margin-left: 16%;
}

#stats
{
    align-content: center;
    top: 0.5em;
    position: relative;
}

#stats *
{
    margin: 0;
    display: block !important;
}

#upvote, #downvote, #delete
{
    line-height: 0;
    margin-top: 0.3em;
    position: relative;
}

#upvote:hover, #downvote:hover, #delete:hover
{
    color: #b36f1d;
    background: linear-gradient(to bottom, #262626 0%,#1a1a1a 100%);
}